In [ ]:
# Assume df_acquisition is the original acquisition file

# Assume df_performance is the original performance fiel

# This coding will get a sample of 10,000 only customer taken by random

In [9]:
#Load related libraries to do analysis
import pandas as pd #To work with dataset
import numpy as np #Math library

df_acquisition = pd.read_table('input/Acquisition_2000Q1.txt', sep = '|', header = None
                        ,names = ["LOAN_ID", "ORIG_CHN", "Seller.Name", "ORIG_RT", "ORIG_AMT", "ORIG_TRM", "ORIG_DTE","FRST_DTE", "OLTV",                                       "OCLTV", "NUM_BO", "DTI", "CSCORE_B", "FTHB_FLG", "PURPOSE", "PROP_TYP","NUM_UNIT", "OCC_STAT", "STATE",                                      "ZIP_3", "MI_PCT", "Product.Type", "CSCORE_C", "MI_TYPE", "RELOCATION_FLG"])
df_performance = pd.read_table('input/Performance_2000Q1.txt', sep = '|', header = None
                        ,names = ["LOAN_ID", "Monthly.Rpt.Prd", "Servicer.Name", "LAST_RT", "LAST_UPB", "Loan.Age", "Months.To.Legal.Mat"
                                  ,"Adj.Month.To.Mat", "Maturity.Date", "MSA", "Delq.Status", "MOD_FLAG", "Zero.Bal.Code","ZB_DTE", "LPI_DTE"                                   ,"FCC_DTE","DISP_DT", "FCC_COST", "PP_COST", "AR_COST", "IE_COST", "TAX_COST", "NS_PROCS","CE_PROCS"                                          ,"RMW_PROCS", "O_PROCS", "NON_INT_UPB", "PRIN_FORG_UPB_FHFA", "REPCH_FLAG", "PRIN_FORG_UPB_OTH"
                                  ,"TRANSFER_FLAG"])

In [23]:
# Randomly choose 10,000 loan_id
df_acquisition_sample = df_acquisition.sample(n = 1500) 
df_acquisition_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 21600 to 121174
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LOAN_ID         1500 non-null   int64
 1   ORIG_CHN        1500 non-null   object
 2   Seller.Name     1500 non-null   object
 3   ORIG_RT         1500 non-null   float64
 4   ORIG_AMT        1500 non-null   int64
 5   ORIG_TRM        1500 non-null   int64
 6   ORIG_DTE        1500 non-null   object
 7   FRST_DTE        1500 non-null   object
 8   OLTV            1500 non-null   float64
 9   OCLTV           7 non-null      float64
 10  NUM_BO          1500 non-null   float64
 11  DTI             1437 non-null   float64
 12  CSCORE_B        1460 non-null   float64
 13  FTHB_FLG        1500 non-null   object
 14  PURPOSE         1500 non-null   object
 15  PROP_TYP        1500 non-null   object
 16  NUM_UNIT        1500 non-null   int64
 17  OCC_STAT        1500 non-null   object
 18  STATE           1500 non-null   object
 19  ZIP_3           1500 non-null   int64
 20  MI_PCT          466 non-null    float64
 21  Product.Type    1500 non-null   object
 22  CSCORE_C        757 non-null    float64
 23  MI_TYPE         466 non-null    float64
 24  RELOCATION_FLG  1500 non-null   object
dtypes: float64(9), int64(5), object(11)
memory usage: 304.7+ KB

In [24]:
# Create final performance table
df_performance_sample = pd.merge(df_acquisition_sample, df_performance, how='inner', left_on='LOAN_ID', right_on='LOAN_ID')

In [26]:
df_performance_sample.info()
df_performance_sample.to_csv('output/fm2000Q1_performance_sample.txt',sep='|', index=False)
df_acquisition_sample.info()
df_acquisition_sample.to_csv('output/fm2000Q1_acquisition_sample.txt',sep='|', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56932 entries, 0 to 56931
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LOAN_ID              56932 non-null  int64
 1   ORIG_CHN             56932 non-null  object
 2   Seller.Name          56932 non-null  object
 3   ORIG_RT              56932 non-null  float64
 4   ORIG_AMT             56932 non-null  int64
 5   ORIG_TRM             56932 non-null  int64
 6   ORIG_DTE             56932 non-null  object
 7   FRST_DTE             56932 non-null  object
 8   OLTV                 56932 non-null  float64
 9   OCLTV                221 non-null    float64
 10  NUM_BO               56932 non-null  float64
 11  DTI                  54383 non-null  float64
 12  CSCORE_B             55481 non-null  float64
 13  FTHB_FLG             56932 non-null  object
 14  PURPOSE              56932 non-null  object
 15  PROP_TYP             56932 non-null  object
 16  NUM_UNIT             56932 non-null  int64
 17  OCC_STAT             56932 non-null  object
 18  STATE                56932 non-null  object
 19  ZIP_3                56932 non-null  int64
 20  MI_PCT               16580 non-null  float64
 21  Product.Type         56932 non-null  object
 22  CSCORE_C             26467 non-null  float64
 23  MI_TYPE              16580 non-null  float64
 24  RELOCATION_FLG       56932 non-null  object
 25  Monthly.Rpt.Prd      56932 non-null  object
 26  Servicer.Name        1256 non-null   object
 27  LAST_RT              56932 non-null  float64
 28  LAST_UPB             48022 non-null  float64
 29  Loan.Age             56932 non-null  int64
 30  Months.To.Legal.Mat  56875 non-null  float64
 31  Adj.Month.To.Mat     56445 non-null  float64
 32  Maturity.Date        56875 non-null  object
 33  MSA                  56932 non-null  int64
 34  Delq.Status          56919 non-null  object
 35  MOD_FLAG             56932 non-null  object
 36  Zero.Bal.Code        1489 non-null   float64
 37  ZB_DTE               1489 non-null   object
 38  LPI_DTE              13 non-null     object
 39  FCC_DTE              12 non-null     object
 40  DISP_DT              12 non-null     object
 41  FCC_COST             10 non-null     float64
 42  PP_COST              9 non-null      float64
 43  AR_COST              6 non-null      float64
 44  IE_COST              9 non-null      float64
 45  TAX_COST             8 non-null      float64
 46  NS_PROCS             11 non-null     float64
 47  CE_PROCS             6 non-null      float64
 48  RMW_PROCS            1 non-null      float64
 49  O_PROCS              6 non-null      float64
 50  NON_INT_UPB          329 non-null    float64
 51  PRIN_FORG_UPB_FHFA   0 non-null      float64
 52  REPCH_FLAG           1489 non-null   object
 53  PRIN_FORG_UPB_OTH    0 non-null      float64
 54  TRANSFER_FLAG        5642 non-null   object
dtypes: float64(26), int64(7), object(22)
memory usage: 26.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 21600 to 121174
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LOAN_ID         1500 non-null   int64
 1   ORIG_CHN        1500 non-null   object
 2   Seller.Name     1500 non-null   object
 3   ORIG_RT         1500 non-null   float64
 4   ORIG_AMT        1500 non-null   int64
 5   ORIG_TRM        1500 non-null   int64
 6   ORIG_DTE        1500 non-null   object
 7   FRST_DTE        1500 non-null   object
 8   OLTV            1500 non-null   float64
 9   OCLTV           7 non-null      float64
 10  NUM_BO          1500 non-null   float64
 11  DTI             1437 non-null   float64
 12  CSCORE_B        1460 non-null   float64
 13  FTHB_FLG        1500 non-null   object
 14  PURPOSE         1500 non-null   object
 15  PROP_TYP        1500 non-null   object
 16  NUM_UNIT        1500 non-null   int64
 17  OCC_STAT        1500 non-null   object
 18  STATE           1500 non-null   object
 19  ZIP_3           1500 non-null   int64
 20  MI_PCT          466 non-null    float64
 21  Product.Type    1500 non-null   object
 22  CSCORE_C        757 non-null    float64
 23  MI_TYPE         466 non-null    float64
 24  RELOCATION_FLG  1500 non-null   object
dtypes: float64(9), int64(5), object(11)
memory usage: 304.7+ KB